@import "./mixins.scss";

.globalStats {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.globalStatsContainer {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;

  div {
    @include font-family;
    margin-right: 40px;
    font-size: 11px;

    span:not(:first-child) {
      color: rgb(42, 68, 250);
    }
    span:first-child {
      margin-right: 6px;
    }
  }
}

.options {
  @include font-family;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  font-size: 11px;

  div:first-child {
    margin-right: 5px;
  }
}
